<!--TODO create start page that triggers start of game -->
<!--TODO and game over page that offers restart (maybe scoreboard?) -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <link rel="stylesheet" href="../assets/styles/main.css">
</head>

<body>
    <div id="score-container">
        <div id="score">0</div>
    </div>
    <h1>SNAKE</h1>
    <table class="leaderboard">
        <caption class="leaderboard__header">LEADERBOARD</caption>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody id="leaderboard-body">
            <tr>
                <th>1</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>2</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>3</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>4</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>5</th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
    <canvas id="gameCanvas" width="300" height="300"></canvas>
    <div id="button-container">
    </div>
</body>
<script src="../assets/scripts/game.js"></script>

</html>
