<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <link rel="stylesheet" href="../styles/start.css">
</head>

<body>
    <h1>SNAKE</h1>
    <div class="leaderboard">
        <div class="leaderboard__header">LEADERBOARD</div>
        <table></table>
    </div>
    <canvas id="gameCanvas" width="300" height="300"></canvas>
    <button id="startButton"><a href="./snake.html">Start Game</a></button>

    <script src="../scripts/startPage.js"></script>
</body>

</html>
