body {
    background-color: black;
}

h1 {
    color: lightblue;
    text-align: center;
    font-size: 148px;
    margin-top: 20px;
}

#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-container {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-button {
    padding: 8px 10px;
    border: 1px solid lightblue;
    border-radius: .5rem;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

#name-input {
    border: 1px solid lightblue;
    border-radius: .75rem;
    padding: 8px;
    margin-right: 2vw;
}

#name-input:focus {
    outline: none;
}

table {
    border-collapse: collapse;
}

.leaderboard {
    background-color: lightblue;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.leaderboard__header {
    border: 2px solid lightblue;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    font-size: 38px;
    color: white;
}

th {
    border-bottom: solid 1px black;
}
